<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <h1>Allusers</h1>

    <hr>
    <a class="btn btn-danger" href="/logout">logout</a>
    <div class="conatiner p-3" style="padding: 20px; display: flex; gap: 20px;">
        
        
        <% allusers.forEach(function(elem){%>

            <div class="card" style="width: 18rem;">
                <img src="<%= elem.photo%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=elem.username%></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <% if(elem.id !== loggedinuser.id){%>
                    <a href="/friend/<%=elem._id%>" class="btn <%=elem.friends.indexOf(loggedinuser._id) === -1 ? 'btn-primary' : 'btn-success' %>"><%=elem.friends.indexOf(loggedinuser._id) === -1 ? "Friend banado" : "Friends"%></a>
                  <%} else{ %>
                    
                    <span class="badge text-bg-primary px-3 py-3">Your Account</span>
                    <a href="/edit/<%=elem.id%>" class="btn btn-warning"> edit</a>
                    <a href="/delete" class="btn btn-danger"> delete</a>

                  <%}%>
                  
                </div>
              </div>
        <%})%>
        


    </div>
    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>